@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models
<ul class="uk-breadcrumb tm-breadcrumb">
    @foreach (var node in Model)
    {
        if (node == Model.Last())
        {
            <li class="uk-active">
                @*Show Rss Link in Breadcrumb*@
                @if (node.Action.ToString().ToLower() == "showbycategory" && node.Controller.ToString().ToLower() == "blogposts" && node.RouteValues.ContainsKey("id"))
                {
                    <a href="@Url.Action("Rss", "Categories", new { id = node.RouteValues["id"].ToString()})" class="uk-icon-rss-square uk-text-warning"></a>
                }
                <span>@node.Title</span>
            </li>
        }
        else
        {
            <li><a href="@node.Url">@node.Title</a></li>
        }
    }
</ul>