@model Blog.Models.Category

@{
    ViewBag.Title = "حذف" + Model.Name;
}

<h2>حذف شاخه " @Model.Name "</h2>
<hr />

@if (ViewBag.message != null)
{
    <h2>@ViewBag.message</h2>
}
else
{

    <h3>آیا از حذف این شاخه اطمینان دارید؟</h3>
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="uk-button uk-button-danger"><i class="uk-icon-trash-o uk-margin-small-right"></i>حذف</button>
        }
    </div>
}
<a class="uk-button uk-button-success" href="@Url.Action("Index","Categories")"><i class="uk-icon-mail-reply uk-margin-small-right"></i>بازگشت</a>